body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/background.jpeg');
}

#game-container {
    width: 305px;
    overflow: hidden; 
    white-space: nowrap; 

    padding: 150px;
    background-color: rgb(201, 233, 239);
    border-radius: 10px;
    box-shadow: 0 0 10px hwb(195 89% 9% / 0.102);/*    background-color: rgb(53, 53, 53);  
                                        border-radius: 10px;
                                        box-shadow: 0 0 10px rgba(49, 49, 49, 0.1);*/
    text-align: center;
    align-items: center;
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 5px;
}

#char-display {
    font-size: 200px;
    margin: 20px;
}


 
#correct-count{
    font-size: 20px;
    color: green;
    }

#incorrect-count{
    font-size: 20px;
    color: red;
    }
#timer-display{
    font-size: 20px;
    color: blue;

}

/* might not need some of this*/
.instructions {
    display: block; 
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    white-space: normal;
    overflow: hidden; 
    
}

.instructions-content {
    font-size: auto;
    background-color: #fff;
    margin: 15% auto;
    padding: 25px;
    border: 1px solid #888;
    border-radius: 5px;
    max-width: 20%; 
    height: 45%; 
    position: relative;
    text-align: center;
    font-family: "Arial"; 
    overflow: auto; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close {
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}

.centered {
    text-align: center;
}


.radio-box {
    display: inline-block;
    margin-right: 10px;
}

/* buttons for difficulty levels in boxes */
.radio-box label {
    border-radius: 4px;
    display: block;
    border: 2px solid #ccc;
    padding: 10px;
    cursor: pointer;
}

/*  For buttons in boxes when selected */
.radio-box input:checked + label {
    background-color: #648FFF;
    color: white;
    border: 2px solid #a7a6a6;
}

/* for when button being hovered*/
.radio-box:hover label{
    background-color: #648FFF;
    color: white;
}

/* Hide the pesky radio button */
.radio-box input {
    display: none;
}


.difficulty_submit{
    font-family: sans-serif;
    font-size: 20px;
    width: 30%;
    height: 50%;
    border-radius: 5px;
    background-color: d8d8d8;
    padding: 10px;
    
}

.difficulty_submit:hover{
    
    background-color: rgb(120, 228, 147);
}

/* Time bar styles */
#time-bar-container {
    position: relative;
}

#time-bar {
    width: 100%;
    height: 10px;
    background-color: #18c512;
}

/* The switch - the box around the slider */
/* CODE FROM W3 TUTORIALS */
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: #F48037;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #000000;
}


input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
#exit-button {
    background-color: #ff5733; /* Background color for the button */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding inside the button */
    border: none; /* Remove button border */
    cursor: pointer; /* Show a hand cursor on hover */
}

/* Adjust the styling for the hover state */
#exit-button:hover {
    background-color: #d9411e; /* Change background color on hover */
}


/* FROM W3 SCHOOL END */
